.makeStyles-root-5 {
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--fZ8kJHEQ--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  padding: 25px;
  background-size: cover;
  
}
